<!doctype html>
<html lang="ru">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<title>{{ page_title }}</title>
</head>

<body>
	<div class="container">
		<h1>{{ page_title }}</h1>
		<div class="row">
			<div class="col-4">
				<h2>Языковая модель</h2>
				<form action='/lm_n' method="POST">
					<input type="hidden" name="lm_p">
					<input name="lm_text" required>
					<input type="submit" value="OK">
				</form>
				<p>
					{% for text_lm in lm_answer_db %}
					<div class="border-top border-bottom">
						<p> {{text_lm.text}} </p>
					</div>
					{% endfor %}
				</p>

			</div>
			<div class="col-8">
				<h2>Предсказать рейтинг</h2>
				<form action="/class_n" method="POST">
					<input name="post_url" required>
					<input type="submit" value="OK">
				</form>
				<p>
					{% for text_class_nlp in class_nlp_answer_db %}
					<div class="border-top border-bottom"></div>
					<p>URL: {{text_class_nlp.url}}</p>
					<p class="text-truncate" style="max-width: 600px;">TEXT: {{text_class_nlp.text}}</p>
					<p>RATING: {{text_class_nlp.rating}}</p>
					{% endfor %}
			</div>
			</p>

		</div>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
		</script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
		</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
		</script>

</body>

</html>